
.box-bg > h2:hover {
	color: white;
	background-color: #87CEFA;
}
p::first-letter {
	color: #87CEFA;
	font-size: 30px;
}
p {
	text-indent: 1.5em;
}
 h2 + p {
	font-style: italic;
}
.tm-sidebar {
	box-shadow: 0px 1px 5px 0px grey; 
}
.tm-banner-inner {
	border: 1px solid grey;
}
div#home {
	box-shadow: 0px 0px 5px 2px grey; 
}
.tm-banner-inner {
	box-shadow: 0px 0px 0px 30px #f5f5f5;
}
img[alt="epam-mexico"] {

}
div#home + section > div.tm-content-box.flex-2-col {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;	
	box-shadow: 0px 0px 5px 2px grey; 
}
#about, section.heading, .blocks, #ideas, #ideas + .tm-content-box  {
	box-shadow: 0px 0px 5px 2px grey; 
}

div.tm-content-box.flex-2-col::before {
		content: "";
        display: block;
        border-top: 40px solid #87CEFA;
        border-right: 300px solid transparent;
        position: absolute;
        top: 0;

}
div.carousel-content > div.flex-item > h2 {
	color: gainsboro;
	letter-spacing: 5px; 
}
p.tm-section-description, div > h2 + p {
	line-height: 2em;
}
div.padding-medium ol a {
	color: black;
}
div.padding-medium ol a:visited {
	background-color: red;
}

div.padding-medium ol a:hover {
	text-decoration: double underline;
	color: #87CEFA;
}
a[class="text"]::after {
	display: inline-block;
	content: "New";
	font-size: 0.6em;
	vertical-align: 8px;
	color: red;
}

li.box-work {
	padding: 10px;
}
li.box-work h2 + p:first-letter {
	color: black;
}
li.box-work:nth-child(2n){
	background-color: #f2f2f2;
}
.mandatory-field::before {
	content: '*';
	font-weight: bold;
	color: red;
	position: absolute;
	left: 96%;

}
button.btn {
	color: #87CEFA;
	float: right;
	width: 150px;
	height: 50px;
	border-radius: 0px;
	border-color: #87CEFA;
	background-color: white;
}

button.btn:hover {
	background-color: #9fd8fb;
	border-color: #87cefa;
	border-width: 1px;
}

/*input[type='email']::after {
	content: '*';
}*/
/*img[class="img-fluid"] {
	width: 345px;
}*/

@media print {
	p::first-letter {
	font-size: 30px;
	color: #87CEFA;
	}
	.tm-sidebar {
		display: none;
	}
	#home {
		margin: 0 auto;
	}
	.tm-banner-text::first-letter {
		color: #87CEFA;
		font-size: 30px;

	}
	h2.tm-section-title {
		color: #0802ff;
	}
	div.tm-banner {
		padding-bottom: 0;
	}
	.tm-content-box.flex-2-col {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;
	}
	.flex-item img{
		height: 150px;
		width:150px;
		margin: 50px;
	}
	h2 + p {
		font-style: italic;
		text-indent: 1.5em;
		width: 270px;
	}
	p.tm-section-description + p.tm-section-description {
		text-indent: 1.5em;
		width: 260px;
	}
	.tm-banner-inner {
		width: 500px;
		margin: 0 auto;
	}
	div.flex-item {
		width: 300px;
		align-self: center;
	}
	.tm-team-description-container.flex-item {
		margin-left: 50px;
	}

	#about, .heading, .blocks, #ideas, section.tm-content-box {
		display: none;
	}
	footer.tm-footer {
		background-color: white;
		padding-bottom: 80px;
		margin-top: -30px
	}
	div.tm-content-box.flex-2-col::before {
		display: none;
	}
	p.text-xs-center {
		margin-top: 20px;
	}
}
